<script type="text/x-handlebars" data-template-name="index">
  <div class='index'>
    <h1>{{title}}</h1>
    {{view "App.ListView" contentBinding="list"}}
    <div class='waypoint'></div>
  </div>
</script>