<!DOCTYPE html>
<html>
<head>
  <title>ShoppingEmber</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <a data-section='home' href='/' class='brand'>Shop</a>
        <ul class='nav'>
          <li><a data-section='women' class='navigable' href='/men'>Men</a></li>
          <li><a data-section='men' class='navigable' href='/women'>Women</a></li>
          <li><a data-section='home' class='navigable' href='/home'>Home</a></li>
        </ul>
        <ul id='cart-wrap'class='nav pull-right'>
          <li>
            <a href='/cart'>
              <script type="text/x-handlebars" >
                {{#view "App.CartView" tagName="span"}}
                  {{itemsInCart}}
                {{/view}}
              </script>
              <i class='icon-shopping-cart icon-white'></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id='main' class='container'>
    <script type="text/x-handlebars" data-template-name="index">
      <div>
        <div class="item placcard">
          <h1>{{title}}</h1>
        </div>
        {{view "App.ListView" contentBinding="list"}}
        <div class='waypoint'></div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="item">
      <article class='product item'>
        {{#with "content"}}
        <div><img {{bindAttr src="image_url"}}/></div>
        <header>
          <h2>{{designer_name}}</h2>
          <h1>{{name}}</h1>
          <p class="price">{{price}}</p>
        </header>
        {{/with}}
      </article>
    </script>

    <script type='text/x-handlebars' data-template-name='detail'>
      <article id='detail'>
        {{#if content}}
          {{#with content}}
          <header>
            <ul class="breadcrumb">
              <li>
                <a {{bindAttr href="categoryFragment"}} class="navigable">{{category}}</a><span class='divider'>/</span>
              </li>
              <li class='active'>
                <a {{bindAttr href="itemUrl"}} class="navigable">
                  {{designer_name}} - {{name}}
                </a>
              </li>
            </ul>
          </header>
          <aside>
            <div><img {{bindAttr src="image_url"}}/></div>
            <div></div>
          </aside>
          <section>
            <header>
              <h2>{{designer_name}}</h2>
              <h1>{{name}}</h1>
              <p class="price">{{price}}</p>
            </header>
            {{/with}}
            <div class='action'>
              <button {{bindAttr class="inCart"}} {{action "addToCart"}} {{bindAttr disabled="inCart"}}>{{cartStatus}}</button>
            </div>
            <div class='description'>
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. 
              <ul>
                <li>Vel illum dolore eu feugiat nulla facilisis at vero eros.</li>
                <li>et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit.</li>
                <li>100% augue duis dolore te feugait nulla facilisi.</li>
                <li>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</li>
              </ul>
            </div>
          </section>
        {{/if}}
      </article>
    </script>
  </div>
</body>
</html>
